{% extends 'base.html.twig' %}

{% block body %}
    <main class="row page-login" style="
            background-image: url('{{ asset('build/images/admin-background.jpg') }}');
            background-size: cover;
            align-content: center;
            margin: 0;
            ">
        <section class="col-12 section-business-app">
            <span class="title">¡Hola, Bienvenido al challenge de Proun!</span>
        </section>
        <section class="col-12 section-form">
            <span class="title">Iniciar Sesión</span>
            <form class="admin-form-signin" action="{{ path('login') }}" method="POST">
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" id="_username" name="_username" class="form-control" placeholder="usuario..."
                       required autofocus>
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="password" id="_password" name="_password" class="form-control" placeholder="Contraseña..."
                       required autofocus>
                <button class="btn btn-login m-auto" type="submit">Iniciar sesión</button>
            </form>
        </section>
    </main>
{% endblock body %}