{% extends '@EasyAdmin/page/content.html.twig' %}

{% block body_class parent() ~ ' page-welcome' %}

{% block content_title %}
    ¡Bienvenido a la administración del challenge de Proun!
{% endblock content_title %}

{% block main %}
    <h5 class="text-muted">Desde aquí podrás acceder al CRUD de entidades de la aplicación.</h5>
{% endblock %}